VistaClock.xcodeproj/xcshareddata/
VistaClock.xcodeproj/xcuserdata/
VistaClockLoginHelper/VistaClockLoginHelper.xcodeproj/xcshareddata/
VistaClockLoginHelper/VistaClockLoginHelper.xcodeproj/xcuserdata/
VistaClock.xcodeproj/project.xcworkspace/xcshareddata/
VistaClock.xcodeproj/project.xcworkspace/xcuserdata/


